{% extends '@admin/layout.twig' %}

{% block title "Editer l'article" %}

{% block body %}

    <h1>Editer l'article {{ item.name }}</h1>

    <form action="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="POST">
        {% include viewPath ~ '/form.twig' %}
        <button class="btn btn-primary" type="submit">Editer</button>
    </form>


{% endblock %}