{% extends '@admin/layout.twig' %}

{% block title "Editer les catégories" %}

{% block body %}

    <p class="text-right">
        <a href="{{ path(routePrefix ~ '.create') }}" class="btn btn-primary">
            Ajouter une catégorie
        </a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Titre</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" class="btn btn-primary">Editer</a>
                    <form style="display: inline" action="{{ path(routePrefix ~ '.delete', {id: item.id}) }}" method="POST" onsubmit="return confirm('êtes vous sur?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ paginate(items, routePrefix ~ '.index') }}

{% endblock %}