{% extends 'layout.twig' %}

{% block title "Mes articles" %}

{% block body %}
    <h1>Bienvenue sur le blog</h1>

    <div class="row">
        {% for row in posts | batch(4) %}
            <div class="card-deck">
                {% for post in row %}
                    <div class="card">
                        {% if post.category_name  %}
                        <div class="card-header">
                            {{ post.category_name }}
                        </div>
                        {% endif %}
                        <div class="card-block">
                            <h4 class="card-title"><a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">
                                    {{ post.name }}
                                </a>
                            </h4>
                            <p class="card-text">
                                {{ post.content | excerpt | nl2br }}
                            </p>
                            <p class="text-muted">{{ post.created_at | ago }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}" class="btn btn-primary">
                                Voir l'article
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {{ paginate(posts, 'blog.index') }}

{% endblock %}